


.calHeader {
background-color: #8899FF;
color: white;
font-size: 12px;
font-weight: bold;
font-family: Helvetica, Sans-Serif;
text-align: center
}




A:link { 
font-family: Helvetica, sans-serif;
font-size: 9pt;
font-weight: normal;
text-decoration: none;
color:#103B67 
}

A:visited { 
font-family: Helvetica, sans-serif;
font-size: 9pt;
font-weight: normal;
text-decoration: none;
color: #666666 
}

A:active { 
font-family: Helvetica, sans-serif; 
font-size: 9pt;
font-weight: normal;
text-decoration: none;
color: #8B7F02
}

A:hover { 
font-family: Helvetica, sans-serif; 
font-size: 9pt;
font-weight: normal;
text-decoration: underline;
color: #8B7F02
}





.tdLeftAligned {
color: #333333;
font-size: 12px;
font-family: Helvetica, Sans-Serif;
font-weight: normal

}

.tdWithoutBackground {
color: #666666;
font-size: 12px
}

.header {
color: #254C73;
font-size: 18px;
font-weight: normal;
font-family: Helvetica, Sans-Serif
}


.subheader {
font-family: Helvetica, Sans-Serif;
color: #333333;
font-size: 13px;
font-weight: bold
}



.white {
background-color: #FFFFFF;
}

.lightgray {
background-color: #F2F2F2;
font-size : 11px;
}

.mediumgray {
background-color: #CBCBCB;
color: #666666;
font-size: 11px;
}

.darkgray {
background-color: #666666;
color: #D0D0D0;
font-size: 11px;
}

.darkBlue {
font-size: 11px;
background-color: #254C73;
color: #ffffff;
font-family: Helvetica, Sans-Serif;
}



